@model Fashionista.Application.Products.Queries.Details.GetProductDetailsViewModel

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">@Model.Product.SubCategoryMainCategoryName</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Product.SubCategoryName</li>
        </ol>
    </div><!-- End .container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="product-single-container product-single-default">
                <div class="row">
                    <div class="col-lg-7 col-md-6 product-single-gallery">
                        <div class="product-slider-container product-item">
                            <div class="product-single-carousel owl-carousel owl-theme">
                                @foreach (var photo in Model.Product.Photos)
                                {
                                    <div class="product-item">
                                        <img class="product-single-image" src="@photo" data-zoom-image="@photo"/>
                                    </div>
                                }
                            </div>
                            <!-- End .product-single-carousel -->
                            <span class="prod-full-screen">
                                <i class="icon-plus"></i>
                            </span>
                        </div>
                        <div class="prod-thumbnail row owl-dots" id='carousel-custom-dots'>

                            @foreach (var photo in Model.Product.Photos)
                            {
                                <div class="col-3 owl-dot">
                                    <img src="@photo"/>
                                </div>
                            }
                        </div>
                    </div><!-- End .col-lg-7 -->

                    <div class="col-lg-5 col-md-6">
                        <div class="product-single-details">
                            <h1 class="product-title">@Model.Product.Name</h1>

                            <div class="ratings-container">
                                <br/>
                                <select id="example" class="ratings">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>

                                <div class="d-none">
                                    <div id="dialog" title="">
                                        <p>Thank you!</p>
                                        <p>You have successfully submitted your rating!</p>
                                    </div>
                                </div>
                            </div><!-- End .product-container -->

                            <div class="price-box">
                                <span class="product-price">$@Model.Product.Price</span>
                            </div><!-- End .price-box -->

                            <div class="product-desc">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
                            </div><!-- End .product-desc -->

                            <form method="post" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Product.Id">
                                <div class="product-filters-container">
                                    <div class="product-single-filter">
                                        <select asp-for="@Model.SizeId" asp-items="@(new SelectList(Model.Attributes.Sizes, "Id", "Name"))" class="form-control">
                                            <option value="" selected disabled>Select size</option>
                                        </select>
                                        <select asp-for="@Model.ColorId" asp-items="@(new SelectList(Model.Attributes.Colors, "Id", "Name"))" class="form-control">
                                            <option value="" selected disabled>Select color</option>
                                        </select>
                                    </div><!-- End .product-single-filter -->
                                </div><!-- End .product-filters-container -->

                                <div class="product-action product-all-icons">
                                    <div class="product-single-qty">
                                        <input asp-for="@Model.Quantity" class="horizontal-quantity form-control" type="text">
                                    </div><!-- End .product-single-qty -->
                                    <button type="submit" class="paction add-cart" title="Add to Cart">
                                        <span>Add to Cart</span>
                                    </button>
                                    <a asp-controller="Wishlist" asp-action="Create" asp-route-id="@Model.Product.Id" class="paction add-wishlist" title="Add to Wishlist">
                                        <span>Add to Wishlist</span>
                                    </a>
                                </div><!-- End .product-action -->
                            </form>

                            <div class="product-single-share">
                                <label>Share:</label>
                                <!-- www.addthis.com share plugin-->
                                <div class="addthis_inline_share_toolbox"></div>
                            </div><!-- End .product single-share -->
                        </div><!-- End .product-single-details -->
                    </div><!-- End .col-lg-5 -->
                </div><!-- End .row -->
            </div><!-- End .product-single-container -->

            <div class="product-single-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                        <div class="product-desc-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                            <ul>
                                <li><i class="icon-ok"></i>If you find a lower price, we'll offer you lower than that!</li>
                                <li><i class="icon-ok"></i>We stand behind our goods and services and want you to be satisfied with them</li>
                                <li><i class="icon-ok"></i>Consult our specialists for help with an order, customization, or design advice</li>
                            </ul>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-single-tabs -->
        </div><!-- End .col-lg-9 -->

        <div class="sidebar-overlay"></div>
        <div class="sidebar-toggle">
            <i class="icon-sliders"></i>
        </div>
        <aside class="sidebar-product col-lg-3 padding-left-lg mobile-sidebar">
            <div class="sidebar-wrapper">
                <div class="widget widget-brand">
                    <a href="#">
                        <img src="@Model.Product.Brand.BrandPhotoUrl" alt="brand name">
                    </a>
                </div><!-- End .widget -->

                <div class="widget widget-info">
                    <ul>
                        <li>
                            <i class="icon-shipping"></i>
                            <h4>FREE<br>SHIPPING</h4>
                        </li>
                        <li>
                            <i class="icon-us-dollar"></i>
                            <h4>100% MONEY<br>BACK GUARANTEE</h4>
                        </li>
                        <li>
                            <i class="icon-online-support"></i>
                            <h4>ONLINE<br>SUPPORT 24/7</h4>
                        </li>
                    </ul>
                </div><!-- End .widget -->

                <div class="widget widget-banner">
                    <div class="banner banner-image">
                        <a href="#">
                            <img src="assets/images/banners/banner-sidebar.jpg" alt="Banner Desc">
                        </a>
                    </div><!-- End .banner -->
                </div><!-- End .widget -->
            </div>
        </aside><!-- End .col-md-3 -->
    </div><!-- End .row -->
</div><!-- End .container -->

@section Scripts
{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/js/jquery.barrating.min.js"></script>
    <script type="text/javascript">
   $(function() {
      $('#example').barrating({
        theme: 'fontawesome-stars-o',
        onSelect:function(value, text, event) {
            if (typeof(event) !== 'undefined') {
                setTimeout(
                    function() {
                       alert("Thank you for your review!");
                       window.location.href = '/Product/Rate/' + @Model.Product.Id + '?rating=' + value;
                    }, 100
                )
              }
        },
        initialRating: null
      })
   });
</script>
}