@model Fashionista.Application.ShoppingCart.Queries.GetAllShoppingCartProducts.AllShoppingCartProductsViewModel

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="cart-table-container">
                <table class="table table-cart">
                    <thead>
                    <tr>
                        <th class="product-col">Product</th>
                        <th class="price-col">Price</th>
                        <th class="qty-col">Qty</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in Model.ShoppingCartProducts)
                    {
                        <tr class="product-row">
                            <td class="product-col">
                                <figure class="product-image-container">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId" class="product-image">
                                        <img src="@product.ProductPhotos.FirstOrDefault()" alt="product">
                                    </a>
                                </figure>
                                <h2 class="product-title">
                                     <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId">@product.ProductName</a>
                                </h2>
                            </td>
                            <td>$@product.ProductPrice</td>
                            <td>
                                <a class="text-danger pr-2" asp-controller="ShoppingCart" asp-action="Edit" asp-route-id="@product.ProductId" asp-route-quantity="@(product.Quantity - 1)">
                                    <i class="fas fa-minus-circle"> </i>
                                </a>
                                @product.Quantity
                                <a class="text-danger pl-2" asp-controller="ShoppingCart" asp-action="Edit" asp-route-id="@product.ProductId" asp-route-quantity="@(product.Quantity + 1)">
                                    <i class="fas fa-plus-circle"> </i>
                                </a>
                            </td>
                            <td>$@product.TotalPrice</td>
                        </tr>
                        <tr class="product-action-row">
                            <td colspan="4" class="clearfix">
                                <div class="float-left">
                                    <a asp-controller="Wishlist" asp-action="Create" asp-route-id="@product.ProductId" class="btn-move">Move to Wishlist</a>
                                </div><!-- End .float-left -->

                                <div class="float-right">
                                    <a asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@product.ProductId" title="Remove product" class="btn-remove">
                                        <span class="sr-only">Remove</span>
                                    </a>
                                </div><!-- End .float-right -->
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="clearfix">
                            <div class="float-left">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Continue Shopping</a>
                            </div><!-- End .float-left -->

                            <div class="float-right">
                                <a asp-controller="ShoppingCart" asp-action="Clear" class="btn btn-outline-secondary btn-clear-cart">Clear Shopping Cart</a>
                            </div><!-- End .float-right -->
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div><!-- End .cart-table-container -->
        </div><!-- End .col-lg-8 -->

        <div class="col-lg-4">
            <div class="cart-summary">
                <h3>Summary</h3>
                <table class="table table-totals">
                    <tbody>
                    <tr>
                        <td>Subtotal</td>
                        <td>$@Model.ShoppingCartProducts.Sum(x => x.TotalPrice)</td>
                    </tr>

                    <tr>
                        <td>Tax</td>
                        <td>$@Model.ShoppingCartProducts.Sum(x => x.TotalPrice * 0.20M).ToString("0.00")</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>Order Total</td>
                        <td>$@Model.ShoppingCartProducts.Sum(x => x.TotalPrice * 1.20M).ToString("0.00")</td>
                    </tr>
                    </tfoot>
                </table>

                <div class="checkout-methods">
                    <a href="checkout.html" class="btn btn-block btn-sm btn-primary">Go to Checkout</a>
                </div><!-- End .checkout-methods -->
            </div><!-- End .cart-summary -->
        </div><!-- End .col-lg-4 -->
    </div><!-- End .row -->
</div><!-- End .container -->

<div class="mb-6"></div><!-- margin -->