@model Fashionista.Application.SubCategories.Queries.GetAllSubCategories.GetAllSubCategoriesViewModel

@{
    this.ViewData["Title"] = "Administration | All Sub Categories";
}


<div class="row">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List of all Sub Categories</h4>
                <a class="btn btn-info btn-rounded m-t-10 mb-2 float-left" asp-controller="SubCategories" asp-action="Create">Add New Category</a>
                @if (Model.SubCategories.Any())
                {
                    <div class="table-responsive">
                        <table id="footable-addrow" class="table" data-paging="true" data-filtering="true" data-sorting="true" data-editing="true" data-state="true">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>MainCategory</th>
                                <th>Products Count</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var category in Model.SubCategories)
                            {
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.Name</td>
                                    <td>@category.Description</td>
                                    <td>@category.MainCategoryName</td>
                                    <td>@category.ProductsCount</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Settings
                                            </button>
                                            <div class="dropdown-menu animated flipInX">
                                                <a class="dropdown-item" asp-controller="SubCategories" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                                                <a class="dropdown-item" asp-controller="SubCategories" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>