@using Fashionista.Web.Areas.Identity.Pages.Account.Manage
@using Fashionista.Web.Common
<aside class="sidebar col-lg-3">
    <div class="widget widget-dashboard">
        <h3 class="widget-title">My Account</h3>

        <ul class="list">
            <li class="@ManageNavPages.IndexNavClass(ViewContext)">
                <a asp-page="./Index">Account Dashboard</a>
            </li>
            <li class="@ManageNavPages.AccountInformationNavClass(ViewContext)">
                <a asp-page="./AccountInformation">Account Information</a>
            </li>
             <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
                <a asp-page="./ChangePassword">Change Password</a>
            </li>
            @* <li class="@Html.IsActive("Dashboard", "Addresses")"> *@
            @*     <a asp-controller="Dashboard" asp-action="Addresses">Address Book</a> *@
            @* </li> *@
            @* <li class="@Html.IsActive("Wishlist", "All")"> *@
            @*     <a asp-controller="Wishlist" asp-action="All">My Wishlist</a> *@
            @* </li> *@
            @* <li class="@Html.IsActive("Dashboard", "PersonalData")"> *@
            @*     <a asp-controller="Dashboard" asp-action="PersonalData">Personal Data</a> *@
            @* </li> *@
            <li>
                <a href="#">Order History</a>
            </li>
        </ul>
    </div><!-- End .widget -->
</aside><!-- End .col-lg-3 -->